<link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js" charset="utf-8"></script>

<div id="aladin-lite-div" style="width:700px;height:400px;"></div>

<script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>

<script type="text/javascript">
    var aladin = A.aladin('#aladin-lite-div',
        {
            survey: 'P/allWISE/color', // set initial image survey
            fov: 1.5, // initial field of view in degrees
            cooFrame: 'galactic', // set galactic frame
            reticleColor: '#ff89ff', // change reticle color
            reticleSize: 64 // change reticle size
        }
    );
    aladin.gotoRaDec(data.ra, data.dec);
</script>